@font-face {
  font-family: 'Marcellus';
  src: url('/fonts/Marcellus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 